:root {
    --red: #E6563B;
    --yellow: #EB9D3A;
    --green: #7CB06C;
    --blue: #00ABA9;
    --white: #f0f0f0;
    --grey: #e6e6e6
}
header{
    background-color:#e6e6e6 ;
}
.mainBG{
    background-color: #e6e6e6;
}
h1{
    font-size: 2.7rem;
}
h2{
font-size: 1.5rem;
}
.container-fluid.cv-hero {
    max-width: 80em;

}

.circles-wrapper{
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.circle {
    height: 100px;
    aspect-ratio: 1/1;
    flex: 0 0 100px;
    background-color: #818181;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    font-family: 'Anton', sans-serif;
    border-radius: 50%;
    text-transform: uppercase;
    color: #fff;
}

.circle.red {
    background-color: #E6563B;
}
.circle.yellow {
    background-color: #EB9D3A;
}
.circle.green {
    background-color: #7CB06C;
}
.circle.blue {
    background-color: #00ABA9;
}
.border-line {
    max-width: 100%;

}

@media screen and (max-width: 500px) {
    .circles-wrapper {
        width: 300px;
    }
}

.selected-work {
    margin: 4em;

}

@media screen and (max-width: 1200px) {
     .image-box{



    }
}